body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #001f3f;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    color: #001f3f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    color: #001f3f;
    margin-bottom: 20px;
}

h1 .gradient-text {
    background: linear-gradient(270deg, #1e90ff, #001f3f, #1e90ff);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s linear infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.word-slider {
    display: inline-block;
    height: 1.25em;
    overflow: hidden;
    vertical-align: bottom;
    font-weight: bold;
}

.word-slider span {
    display: block;
    position: relative;
    animation: roll 10s ease infinite;
}

@keyframes roll {
    0%, 16.67% { top: 0; }
    25%, 41.67% { top: -1.25em; }
    50%, 66.67% { top: -2.5em; }
    75%, 91.67% { top: -3.75em; }
    100% { top: 0; }
}

form {
    margin-bottom: 20px;
}

label, input[type="text"] {
    color: #001f3f;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #f4f4f4;
    color: #001f3f;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #e0e0e0;
}

input[type="submit"]:active {
    background-color: #001f3f;
    color: #ffffff;
    transition: transform 0.3s ease;
    transform: translateX(10px);
}

h2 {
    margin-top: 20px;
    color: #001f3f;
}

p#response {
    font-weight: bold;
    color: #001f3f;
    background-color: #8ba0b7;
    padding: 10px;
    border-radius: 4px;
}
